<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700">

    <link href="{{ main.css }}" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>

    {% if env %}
    <script> window.env = {{ env | dump | safe }}; </script>
    {% endif %}

    {% include "templates/views/_libs.njk" %}

    <script src="{{ main.js }}"></script>
  </body>
</html>
