{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["react-hot-loader/babel", "transform-decorators-legacy", "transform-runtime"],
  "env": {
    "test": {
      "plugins": [
        "css-modules-transform",
        ["webpack-alias", { "config": "${PWD}/webpack.config.test.js" }]
      ],
      "sourceMaps": "inline"
    }
  }
}
